/* /////////// NAVBAR //////////// */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 150px;
    font-size: 18px;
    font-weight: bold;
}

nav .logo {
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    font-family: var(--font-alt);
}

nav .action {
    display: flex;
    gap: 20px;
}

nav .action .button:first-child {
    background: transparent;
    color: #7ea6ff;
    border: 1px solid #7ea6ff;
}

/* /////////// BODY //////////// */

section {
    padding: 100px 150px;
    color: #fff;
    text-align: center;
}

section h1 {
    font-size: 72px;
    font-family: var(--font-alt);
    color: var(--dark-text);
}

section h3,
div h3 {
    color: var(--dark-text);
    font-family: var(--font-alt);
}

section p,
div p {
    font-size: 20px;
    color: var(--light-text);
}

/* ............banner............ */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.banner .vector {
    text-align: center;
    position: relative;
    padding: 0 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.banner .vector h1 {
    background-image: linear-gradient(to right, #4b83ff, #B794F4);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.banner .vector p {
    color: var(--dark-text);
}

.banner button {
    font-size: 18px;
    padding: 20px 30px;
    font-weight: 500;
    width: 280px;
}

.banner .vector img {
    position: absolute;
    height: 300px;
}

.banner .vector .triangle {
    left: -130px;
}

.banner .vector .semi-circle {
    right: -130px;
}

/* .............form comparer............. */

.form-compare {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.form-compare .types {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.form-compare .old-form,
.form-compare .new-form {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.form-compare .old-form form,
.form-compare .new-form .chatbox {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    padding: 25px;
    flex: 1;
}

.form-compare .old-form .icon,
.form-compare .new-form .icon {
    height: 50px;
    width: 50px;
    display: block;
    margin: 0 auto;
}

.form-compare .old-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: var(--dark-text);
}

.form-compare .old-form form .inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    font-weight: 400;
}

.form-compare .old-form form span {
    color: #E53E3E;
}

.form-compare .old-form form input[type=text],
.form-compare .old-form form input[type=email],
.form-compare .old-form form textarea {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 7px;
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

.form-compare .old-form form input[type=checkbox] {
    width: 15px;
    height: 15px;
}

.form-compare .old-form form button {
    width: 25%;
}

.form-compare .new-form .tryit {
    position: absolute;
    top: -10px;
    right: -40px;
}

.form-compare .new-form .tryit span {
    font-family: var(--font-cursive);
    position: absolute;
    top: -15px;
    left: -60px;
    font-size: 24px;
}

.form-compare .new-form .tryit img {
    height: 100px;
    width: auto;
    transform: rotate(30deg);
}

.chatbox .chat {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 8px;
    max-width: calc(100% - 50px);
}

.chatbox span {
    background: #1E293B;
    padding: 10px 15px;
    border-radius: 5px;
    max-width: fit-content;
}

.chatbox .admin {
    display: flex;
    align-items: end;
    gap: 10px;
    margin-bottom: 10px;
}

.chatbox .admin .chat-head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chatbox .user {
    display: flex;
    justify-content: flex-end;
}

.chatbox .user .chat {
    align-items: flex-end;
}

.chatbox .user span {
    background: var(--accent-color);
}

.chatbox .user .chat .click::after {
    content: '';
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

/* ............highlights............. */

.highlights {
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.highlights .main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.highlights .desc {
    width: 350px;
    text-align: left;
}

.highlights .desc h3 {
    font-size: 40px;
    margin-bottom: 30px;
}

/* .............integration............ */

.integration .wrapper {
    padding: 100px 0 20px 0;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    position: relative;
}

.integration .wrapper .images {
    background: var(--secondary-bg);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 30px;
}

.integration .wrapper .images img {
    height: 60px;
    width: 60px;
}

.integration .wrapper .overlay {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 500px;
}

.integration .wrapper .overlay.left {
    left: 0;
    background: linear-gradient(to right, var(--primary-bg), rgba(23, 25, 35, 0));
}

.integration .wrapper .overlay.right {
    right: 0;
    background: linear-gradient(to left, var(--primary-bg), rgba(23, 25, 35, 0));
}

.integration .desc {
    padding: 30px 180px 100px 180px;
    width: 700px;
}

.integration .desc h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* .............form results............. */

.results {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--primary-bg) 70%, var(--secondary-bg) 100%);
    gap: 30px;
}

.results .chatbox {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 500px;
    padding: 30px 20px 200px 20px;
    display: block;
    margin: 50px auto 100px auto;
}

.results .features h3 {
    font-size: 36px;
    margin-bottom: 10px;
}

.results .features .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 100px;
}

.results .features .cards .card {
    position: relative;
    background: var(--secondary-bg);
    padding: 25px;
    border-radius: 10px;
}

.results .features .cards .card .icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #0042da;
    padding: 10px;
    border-radius: 8px;
    top: -30px;
}

.results .features .cards .card .title {
    background: var(--secondary-bg);
    color: var(--dark-text);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.results .features .cards .card .desc {
    background: var(--secondary-bg);
    color: #718096;
}

.results .brands h3 {
    font-size: 25px;
    margin: 50px auto;
}

.results .brands .brand {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 50px;
}

.results .brands .brand img {
    width: 180px;
}

/* ............post banner............ */

.post-banner {
    background-image: linear-gradient(to bottom, var(--primary-bg), var(--secondary-bg));
}

.post-banner .vector {
    padding: 180px;
}

.post-banner h3 {
    font-size: 36px;
}

.post-banner .desc {
    color: var(--light-text);
}

.post-banner .triangle {
    top: -50px;
}

.post-banner .semi-circle {
    bottom: 200px;
}

/* ...........footer............. */

footer {
    padding: 50px 220px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    color: var(--dark-text);
}

footer a,
footer li {
    color: var(--dark-text);
    list-style: none;
    line-height: 2;
}

footer .icon {
    margin-left: 5px;
    width: 12px;
}