.shareLayout {
    display: flex;
    justify-content: center;
    /* background: red; */
    /* min-height: 100vh; */
}

.chatbox {
    width: 700px;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 15px;
}

.inputs input,
.inputs .rating {
    height: 45px;
    width: 280px !important;
    background: #fff !important;
    border-radius: 5px !important;
    color: #000 !important;
}

.inputs .submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 55px;
}

/* .inputs input:read-only,
.inputs .submitBtn:read-only {
    background: #777777 !important;
    color: #fff !important;
} */

.rating {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.rating button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.rating button:focus {
    background: #FF8E21;
}